.idea/*
composer.lock
vendor/*
!.gitkeep
build/*
coverage/*
var/cache/*
var/logs/*
var/data/*.json
var/command/*.json
sample/.htaccess
composer.phar
demo/cache/*.php
demo/command/*.json
demo/data/*.json
command/*.json
data/*.json
logs/*
cache/*
test/files/cache/*.php
test/files/logs/*.log
.phpunit.result.cache